# Python
__pycache__/
*.py[cod]

# ROS/Colcon specific (just in case)
/build/
/install/
/log/

# IDE settings
.vscode/
.idea/
dataset_codes/samples/
dataset_codes/runs/
agent_control/.spawned_obstacles
agent_control/current_obstacles.yaml
