<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  
  <!-- Depth camera back link (box) -->
  <joint name="depth_camera_back_joint" type="fixed">
    <parent link="handle_middle"/>
    <child link="depth_camera_back_link"/>
    <origin xyz="0.015 0 0.13" rpy="0 0 0"/>
  </joint>

  <link name="depth_camera_back_link">
    <visual>
      <geometry><box size="0.0016 0.085 0.024"/></geometry>
    </visual>
    <collision>
      <geometry><box size="0.0016 0.085 0.024"/></geometry>
    </collision>
    <xacro:inertial_box mass="0.05" x="0.0016" y="0.085" z="0.024">
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </xacro:inertial_box>
  </link>
  <gazebo reference="depth_camera_back_link"><material>Gazebo/White</material></gazebo>

  <!-- ================= LEFT CAMERA ================= -->
  <joint name="left_camera_joint" type="fixed">
    <parent link="depth_camera_back_link"/>
    <child link="left_camera_link"/>
    <origin xyz="0.0058 -0.036 0" rpy="0 0 0"/> 
  </joint>

  <link name="left_camera_link">
    <visual>
      <geometry><box size = "0.01 0.0155 0.0155"/></geometry>
    </visual>
    <collision>
      <geometry><box size = "0.01 0.0155 0.0155"/></geometry>
    </collision>
    <xacro:inertial_box mass="0.02" x="0.01" y="0.0155" z="0.0155">
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </xacro:inertial_box>
  </link>

  <gazebo reference="left_camera_link">
    <material>Gazebo/Black</material>
    <!-- IGNITION FORTRESS SENSOR TAG -->
    <sensor type="camera" name="left_camera">
      <always_on>true</always_on>
      <visualize>true</visualize>
      <update_rate>30</update_rate>
      <topic>depth_cam/left/image_raw</topic>
      <camera>
        <horizontal_fov>1.0448151276</horizontal_fov>
        <image>
          <width>640</width>
          <height>480</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.02</near>
          <far>50.0</far>
        </clip>
      </camera>
    </sensor>
  </gazebo>

  <!-- Left optical frame -->
  <joint name="left_camera_optical_joint" type="fixed">
    <parent link="left_camera_link"/>
    <child link="left_camera_link_optical"/>
    <origin xyz="0.01 0 0" rpy="${-pi/2} 0 ${-pi/2}"/> 
  </joint>
  <link name="left_camera_link_optical"/>

  <!-- ================= RIGHT CAMERA ================= -->
  <joint name="right_camera_joint" type="fixed">
    <parent link="depth_camera_back_link"/>
    <child link="right_camera_link"/>
    <origin xyz="0.0058 0.036 0" rpy="0 0 0"/> 
  </joint>

  <link name="right_camera_link">
    <visual>
      <geometry><box size = "0.01 0.0155 0.0155"/></geometry>
    </visual>
    <collision>
      <geometry><box size = "0.01 0.0155 0.0155"/></geometry>
    </collision>
    <xacro:inertial_box mass="0.02" x="0.01" y="0.0155" z="0.0155">
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </xacro:inertial_box>
  </link>

  <gazebo reference="right_camera_link">
    <material>Gazebo/Black</material>
    <!-- IGNITION FORTRESS SENSOR TAG -->
    <sensor type="camera" name="right_camera">
      <always_on>true</always_on>
      <visualize>true</visualize>
      <update_rate>30</update_rate>
      <topic>depth_cam/right/image_raw</topic>
      <camera>
        <horizontal_fov>1.0448151276</horizontal_fov>
        <image>
          <width>640</width>
          <height>480</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.02</near>
          <far>50.0</far>
        </clip>
      </camera>
    </sensor>
  </gazebo>

  <!-- Right optical frame -->
  <joint name="right_camera_optical_joint" type="fixed">
    <parent link="right_camera_link"/>
    <child link="right_camera_link_optical"/>
    <origin xyz="0.01 0 0" rpy="${-pi/2} 0 ${-pi/2}"/>
  </joint>
  <link name="right_camera_link_optical"/>

</robot>